<div class="col">
    <div class="card" style="width: 18rem;">
        <img src="{{ asset('photos/' ~ nomDuDossier ~ '/' ~ image.getFilename()) }}" alt="{{ image.getFilename() }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ image.getFilename }}</h5>
            <p class="card-text">{{ nomDuDossier }}</p>
        </div>
    </div>
</div>